@{
    ViewData["Title"] = "Лабораторна робота з ІСтаТП 2020. Університети";
}


@if (User.Identity.IsAuthenticated)
{
    <p>Ви зайшли під ім'ям @User.Identity.Name</p>

    <a asp-controller="Roles" asp-action="UserList">Список користувачів</a>


    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстація</a>
}
<p>
    <a button type="button" class="btn btn-primary" asp-controller="Roles" asp-action="Index">Список ролей</a>
</p>

