@model FindUniversity.FacultyEducationalProg

@{
    ViewData["Title"] = "Create";
}

<h1>Додавання освітньої програми до факультету</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <select asp-for="FacultyId" class="form-control" asp-items="ViewBag.FacultyId"></select>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EducationalProgId" class="control-label"></label>
                <select asp-for="EducationalProgId" class="form-control" asp-items="ViewBag.EducationalProgId"></select>
            </div>
            <input type="hidden" value="@ViewBag.FacultyId" name="FacultyId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.FacultyId">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
